html,body{
  	height:100%;
}

/* navbar */
    body{
        padding-top:50px; /*padding for navbar*/
    }
    .navbar-brand img{
        height:30px;
        position: relative;
        top:-5px;
    }
    .navbar li>a:hover, .navbar li>a:focus{
        background-color: #e7e7e7 !important;
    }
    /*these were needed to make searchbar max width*/
    .navbar-form{padding:0 !important;}
    .navbar-form .form-group{display:inline;}
    .navbar-form .input-group{display:table;}
    .navbar-form .input-group-btn{width:1% !important;}

#main, #main>.row {
	height:100%;
}

#main>.row {
    overflow-y:scroll;
}

#left {
	height:100%;
}

#map-canvas {
	width:50%;
    height:100%; /*calc(100% - 0);*/
    position:absolute;
    right:16px; /*scroll bar*/
    top:50px; /*navbar*/
    bottom:0;
    overflow:hidden;
}

/* slider */
    #slider .slider-track{background: #e7e7e7;   }
    #slider .slider-selection {background: #006fff;}
    .slider.slider-horizontal{width:100%;}
    #slider_output{float:right;font-weight: bold;}